version: "3"

services:
  github_secretary:
    image: ghcr.io/approvers/github-secretary:v1.5.1
    container_name: github_secretary
    restart: unless-stopped
    environment:
      - DISCORD_TOKEN=${GITHUBSECRETARY_DISCORD_TOKEN}
      - FAUNA_SECRET=${GITHUBSECRETARY_FAUNA_SECRET}
