/dockerps-web/ @kawaemon
/nginx/ @siketyan
/pindome_chan/ @MikuroXina
/vc_list_bot/ @unios103
/githubsecretary/ @MikuroXina
/genkai_dictionary/ @loxygenK
/kotoli/ @mirror-kt
/cadocr/ @siketyan
/delitter/ @loxygenK
/imperial_police/ @Colk-tech
/femalifing_com/ @loxygenK
