/AHOXA/ @raiga0310
/dockerps-web/ @kawaemon
/members-db-rust/ @siketyan
/nginx/ @siketyan
/pindome_chan/ @MikuroXina
/vc_list_bot/ @unios103
/githubsecretary/ @MikuroXina
/genkai_dictionary/ @loxygenK
/kotoli/ @mirror-kt
