version: '3'

services:
  nginx:
    image: nginx
    container_name: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - /etc/certs:/etc/certs:z
      - ./conf/etc/nginx/conf.d:z
      - ./html:/var/www/html:z
