version: '3'

services:
  nginx:
    image: nginx
    container_name: nginx
    network_mode: host
    environment:
      - TOKEN=${EXAMPLE_TOKEN}
    ports:
      - 80:80
      - 443:443
    volumes:
      - /etc/certs:/etc/certs:z
      - ./conf:/etc/nginx/conf.d:z
      - ./html:/var/www/html:z
