version: '3'

services:
  contacts_gateway:
    image: docker.pkg.github.com/approvers/contacts-gateway/contacts-gateway:0.1.0
    container_name: contacts_gateway
    environment: 
      - Twitter__ConsumerKey=${CONTACTS_GATEWAY_TWITTER_CONSUMER_KEY}
      - Twitter__ConsumerSecret=${CONTACTS_GATEWAY_TWITTER_CONSUMER_SECRET}
      - GitHub__Token=${CONTACTS_GATEWAY_GITHUB_TOKEN}
      - Discord__Token=${CONTACTS_GATEWAY_DISCORD_TOKEN}
    ports:
      - 14002:80
