name: Deployer

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: approvers/containers-dotenv@v0.1.1
      env:
        NGINX_EXAMPLE_TOKEN: ${{ secrets.EXAMPLE_TOKEN }}
        VCLISTBOT_DISCORD_TOKEN: ${{ secrets.VCLISTBOT_DISCORD_TOKEN }}
        PINDOME_CHAN_DISCORD_TOKEN: ${{ secrets.PINDOME_CHAN_DISCORD_TOKEN }}
        PINDOME_CHAN_DISCORD_PERMISSIONS: ${{ secrets.PINDOME_CHAN_DISCORD_PERMISSIONS }}
        PINDOME_CHAN_DISCORD_WEBHOOK_ID: ${{ secrets.PINDOME_CHAN_DISCORD_WEBHOOK_ID }}
        PINDOME_CHAN_DISCORD_WEBHOOK_TOKEN: ${{ secrets. PINDOME_CHAN_DISCORD_WEBHOOK_TOKEN }}

    - uses: approvers/containers-deployer@v0.3.0
      with:
        ssh_host: ${{ secrets.SSH_HOST }}
        ssh_port: ${{ secrets.SSH_PORT }}
        ssh_user: ${{ secrets.SSH_USER }}
        ssh_key: ${{ secrets.SSH_KEY }}
