name: Deployer

on:
  push:
    branches:
      - master
      - http-gateway

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: approvers/containers-deployer
      with:
        ssh-host: ${{ secrets.SSH_HOST }}
        ssh-user: ${{ secrets.SSH_USER }}
        ssh-key: ${{ secrets.SSH_KEY }}
